* {
    margin: 0;
    padding: 0;
    font-family: monospace, serif;
    background-color: rgb(11, 32, 33);
    
}
body header {
    margin-top:40px;
    text-align:center;
    color: white;
}
article {
    margin-top: 5px; 
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
section {
    margin: 30px;
}
.progress-bar {
    width: 5%;
}

.progress-bar:hover {
    width: 100%;
    transition: 2s;
    background-color: rgb(62, 61, 62);
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}